.container{
    width: 100%;
    height: 100%;
    
}

.jumboh1{
    
    margin-left: 5%;
}

.btn{
    
    margin-left: 5%;
}

.nav {
    
    margin-left: 5%;
    background-color: #EEEEEE;
}

.justforcolor{
    
                                                                                                                                    
}



.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.jumbotron {
    
    color: #A7131F;
    
}

. {
    
    
}